body {
  background-color: rgb(95, 43, 1);
  font-family: "Roboto";
}
#main-header {
  background-color: rgb(37, 18, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}
#logo,main h1 {
  color: rgb(245, 151, 11);
}
#main-header h1 {
  font-weight: 800;
  font-size: 48px;
  margin-top: 24px;
  text-align: center;
}
#main-header ul {
  display: flex;
  /* gap: 20px; */
  font-size: 24px;
  color: rgb(133, 82, 6);
  padding-right: 80px;
  padding: 0;
  margin: 0;
}
#main-header li{
  margin: 0 14px;
}
#logo {
  padding-left: 80px;
  font-weight: bolder;
  font-size: 34px;
}
main h1 {
  font-weight: 800;
  font-size: 48px;
  margin-top: 24px;
  text-align: center;
}
section ul {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  margin: 10vh auto;
  padding: 0;
}
section img {
  height: 240px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
section li {
  margin: 10px;
}
section ul .products-content {
  background-color: rosybrown;
  height: 14vh;
  margin-top: -4px;
  font-size: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  color: rgb(37, 18, 2);
  border-radius: 0 0 10px 10px;
}
section ul .products-content button {
  color: white;
  background-color: orange;
  border-radius: 4px;
  display: block;
  margin: 10px auto;
  padding: 8px;
}


header nav a:hover {
  color: rgb(243, 150, 9);
  transform: translateY(-1px);
  display: inline-block;
  white-space: nowrap;
}
