body {
  background-color: rgb(95, 43, 1);
  font-family: "Roboto";
}
#main-header {
  background-color: rgb(37, 18, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1.5rem;
}
#logo,
main h1 {
  color: rgb(245, 151, 11);
}
#main-header h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 1.5rem;
  text-align: center;
}
#main-header ul {
  display: flex;
  font-size: 1.5rem;
  color: rgb(133, 82, 6);
  padding-right: 5rem;
  padding: 0;
  margin: 0;
}
#main-header li {
  margin: 0 .9rem;
}
#logo {
  padding-left: 5rem;
  font-weight: bolder;
  font-size: 2.2rem;
}
main h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  text-align: center;
}
section ul {
  display: flex;
  justify-content: center;
  margin: 2.4rem auto;
  padding: 0;
}
section img {
  height: 15rem;
  object-fit: cover;
  width: 100%;
}
section li {
  border-radius: 10px;
  overflow: hidden;                                /* This ensures that the rounded corners are visually preserved,
                                                   even if the content within the elements exceeds their allocated space. */
margin: .8rem;
}
section ul .products-content {
  background-color: rosybrown;
  height: 7rem;
  margin-top: -.25rem;
  padding-top:1rem;
  padding-bottom: .8rem;
  text-align: center;
  color: rgb(37, 18, 2);
}
.products-content button {
  color: white;
  background-color: orange;
  border-radius: 4px;
  display: block;
  margin: 10px auto;
  padding: .5rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.4);
}
.products-content button:hover{
  background-color: rgb(192, 127, 6);
}

header nav a:hover {
  color: rgb(243, 150, 9);
  transform: translateY(-.08rem);
  display: inline-block;
  white-space: nowrap;
}
